*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(19, 18, 18);
  color: whitesmoke;
}

.login-form{
  width: 400px;
  height: 400px;
  border: none;
  margin-left: 38%;
  margin-top: 180px;
}

.login{
  text-align: center;
}

.details{
  text-align: center;
  margin-top: 10px;
}

.username{
  width: 320px;
  border-radius: 29px;
  height: 42px;
  text-decoration: solid;
  font-weight: 600;
  text-align: center;
}

.password{
  width: 320px;
  border-radius: 29px;
  height: 42px;
  font-weight: 600;
  text-align: center;
}

.btn{
  width: 100px;
  color: rgb(0, 0, 0);
  background-color: whitesmoke;
  border-radius: 18px;
  margin-top: 21px;
}

.icons{
  margin-left: 120px;
  margin-top: 70px;
}

.fa:hover{
  opacity: 0.8;
}

.fa-facebook{
  font-size: 30px;
  text-decoration: none;
}
.fa-twitter{
  font-size: 30px;
  margin-left: 20px;
  color: rgb(29 161 242);
  text-decoration: none;
}
.fa-linkedin{
  font-size: 30px;
  margin-left: 20px;
  color: rgb(94, 94, 250);
  text-decoration: none;
}
.fa-instagram{
  font-size: 30px;
  margin-left: 20px;
  color: rgb(255, 0, 98);
  text-decoration: wavy;
}
